@model Lab2MvcDb.Models.DatabaseRecord

@{
    ViewBag.Title = "Редактирование записи";
}

<h2>Редактирование экземпляра модели</h2>

<p class="note">
    Вариант Б для редактирования: используются LabelFor и EditorFor.
</p>

@using (Html.BeginForm())
{
    @Html.Hidden("index", (int)ViewBag.CurrentIndex)
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary(true, "Исправьте ошибки ввода", new { @class = "validation" })

    <div class="form-row">
        @Html.LabelFor(m => m.DatabaseName)
        @Html.EditorFor(m => m.DatabaseName)
        @Html.ValidationMessageFor(m => m.DatabaseName, null, new { @class = "validation" })
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.DbmsName)
        @Html.EditorFor(m => m.DbmsName)
        @Html.ValidationMessageFor(m => m.DbmsName, null, new { @class = "validation" })
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.TableCount)
        @Html.EditorFor(m => m.TableCount)
        @Html.ValidationMessageFor(m => m.TableCount, null, new { @class = "validation" })
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.CreatedAt)
        @Html.EditorFor(m => m.CreatedAt)
        @Html.ValidationMessageFor(m => m.CreatedAt, null, new { @class = "validation" })
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.AdminEmail)
        @Html.EditorFor(m => m.AdminEmail)
        @Html.ValidationMessageFor(m => m.AdminEmail, null, new { @class = "validation" })
    </div>

    <div class="form-row checkbox-row">
        @Html.LabelFor(m => m.IsNormalized)
        @Html.EditorFor(m => m.IsNormalized)
        @Html.ValidationMessageFor(m => m.IsNormalized, null, new { @class = "validation" })
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "validation" })
    </div>

    <div class="actions">
        <input type="submit" value="Сохранить изменения" class="button primary" />
        @Html.ActionLink("Отмена", "Details", new { index = ViewBag.CurrentIndex }, new { @class = "button" })
    </div>
}
